{% extends "base.html" %}
{% load static %}



{% block content %}
    {% load bootstrap %}


    <div class="col-md-8">

        <h1>LogIn</h1>
        {% if form.errors %}
            <p class="alert alert-danger">Your username and password aren't found. Please try again.</p>
        {% endif %}
        <div class="col-md-6 col-sm-12">
                {{ form|bootstrap }}
            <form method="post" action="{% url 'login' %}">
                <input type="submit" class="btn btn-primary mb-2" value="login"/>

                {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}