{% extends "base.html" %}
{% load static %}



{% block content %}
    <div class="col-md-8">
        <div class="login-form">
            <h1>LogIn</h1>
            {% if form.errors %}
                <p class="alert alert-danger">Your username and password aren't found. Please try again.</p>
            {% endif %}
            <div class="col-md-6 col-sm-12">
                <div class=" fieldWrapper form-group">
                    <form method="post" action="{% url 'login' %}">
                           <div>
                               {{ form.username.label_tag }}
                                {{ form.username }}

                            </div>
                            <div>
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                                <td><input type="hidden" name="next" value="{{ next }}"/></td>
                            </tr>
                        </table>

                        <input type="submit" class="btn btn-primary mb-2" value="login"/>

                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}